
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bienvenidos a SOSApp!</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center">
                <img src="~/Content/Images/Logo.png" alt="App del Vecino Sunchalense" style="width:70%;margin:10% auto;" />
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>

</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script>
    $(document).ready(function () {
        var ApiUrl = "@System.Configuration.ConfigurationManager.AppSettings["Api.Base.Path"]";
        var url = ApiUrl + "User/0";

        $.ajax({
            type: "GET",
            url: url,
            success: function (response) {
                window.location.replace("/News");
            },
            error: function (e) {
                window.location.replace("/User/Login");
            }
        });
    });
</script>
