@{
    ViewBag.Title = "Usuario Nuevo";
    ViewBag.SectionName = "User";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Usuarios</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Editar Usuario
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#General" data-toggle="tab">General</a></li>
                    <li><a href="#Seguridad" data-toggle="tab">Seguridad</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="General">
                        <form id="formUsuario" role="form">
                            <input type="hidden" id="IdUsuario" name="ID" class="form-control">
                            <div class="col-md-6 form-group">
                                <label>Nombre</label>
                                <input id="Nombre" name="Name" autocomplete="given-name" class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Apellido</label>
                                <input id="Apellido" name="LastName" autocomplete="family-name" class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Fecha de Nacimiento</label>
                                <input type="date" id="Birthdate" name="Birthdate" class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Email</label>
                                <input id="Email" name="Email" disabled="disabled" autocomplete="email" class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Telefono</label>
                                <input id="Telefono" name="Phone" autocomplete="tel-national" class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Direccion</label>
                                <input id="Direccion" name="Address" autocomplete="address-line1" class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Rol de Usuario</label>
                                <select id="cmbRolUsuario" name="RoleId" class="form-control"></select>
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="Active" name="Active" type="checkbox" value="true" checked="checked">Activo?
                                    </label>
                                    @*<label for="Active" style="padding-left:0;">Activo?</label>
        <br />
        <label class="switch">
            <input id="Active" name="Active" type="checkbox" value="true" checked="checked">
            <span class="slider round"></span>
        </label>*@
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary" style="min-width:200px;width:20%;">Guardar</button>
                                <input type="button" class="btn btn-danger" id="btnEliminarUsuario" value="Eliminar" onclick="return confirm('Desea eliminar este Usuario?')" />
                            </div>
                        </form>
                    </div>
                    <!-- TABLA SEGURIDAD USUARIO -->
                    <div class="tab-pane" id="Seguridad" style="padding:15px;">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <form id="formChangePassword" role="form" style="padding:30px;">
                                <div class="form-group">
                                    <input class="form-control" id="password" autocomplete="new-password" name="Password" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'La contraseña debe contener al menos 6 caracteres' : ''); if (this.checkValidity()) form.password_two.pattern = this.value;" placeholder="Nueva contraseña" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="password_two" autocomplete="new-password" name="Password2" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Las contraseñas no coinciden' : '');" placeholder="Repita contraseña" required>
                                </div>
                                <input type="button" id="btnResetPassUsuario" class="btn btn-lg btn-danger btn-block" value="Reset Password" />
                            </form>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

    @section Scripts {

        <script>
        $(document).ready(function () {
            var usuarioId = window.location.href.split("/")[window.location.href.split("/").length-1];
            var url = ApiUrl + "User/" + usuarioId;

            $.ajax({
                type: "GET",
                url: url,
                success: function (response) {
                    var url = ApiUrl + "UserRole";
                    var idRol = response.Data.RoleId
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function (response) {
                            response.data.forEach(function (item, i) {
                                if (item.ID === idRol) {
                                    var selected = 'selected';
                                } else {
                                    selected = '';
                                }
                                $("#cmbRolUsuario").append('<option value="' + item.ID + '"' + selected + ' > ' + item.Name + '</option > ')

                            });
                        }
                    });

                    $("#Nombre").val(response.Data.Name);
                    $("#Apellido").val(response.Data.LastName);
                    $("#Email").val(response.Data.Email);
                    $("#Telefono").val(response.Data.Phone);
                    $("#Direccion").val(response.Data.Address);
                    $("#cmbRolUsuario").val(response.Data.RoleId);
                    $("#Birthdate").val(response.Data.Birthdate);
                    $("#IdUsuario").val(response.Data.ID);
                }
            });

            $("#btnEliminarUsuario").click(function (e) {
                $.ajax({
                    type: "DELETE",
                    url: url,
                    success: function (response) {
                        window.location.replace("/User");
                    }
                });

            });

            $("#formUsuario").submit(function (e) {
                var url = ApiUrl + "User/" + usuarioId;
                $.ajax({
                    type: "PUT",
                    url: url,
                    data: $("#formUsuario").serialize(),
                    success: function (data) {
                        window.location.replace("/User");
                    }
                });

                e.preventDefault();

            });

            $("#btnResetPassUsuario").click(function (e) {
                var url = ApiUrl + "User/ResetPassword/" + usuarioId;

                if ($("#password").val() === $("#password_two").val()) {
                    $.ajax({
                        type: "PUT",
                        url: url,
                        data: $("#password").serialize(),
                        success: function (data) {
                            window.location.assign("/User");
                        }
                    });
                }
                else
                {
                    alert("Las contraseñas ingresadas no coinciden.");
                }
                e.preventDefault();
            });

        });

        </script>
    }

