<footer class="text-center" style="margin-top: 10px;font-size: smaller;color: gray;">
    <span>Desarrollado por <a href="http://integrarsi.com.ar/" target='_blank' title="Integrar">Integrar Sistemas Informáticos</a>. </span>
</footer>
