<ul class="nav navbar-right navbar-top-links">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i><span id="nickName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="/User/Perfil"><i class="fa fa-user fa-fw"></i> Mi perfil</a>
            </li>
            <li>
                <a href="/User/Configuraciones"><i class="fa fa-gear fa-fw"></i> Configuraciones</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/User/Logout"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
            </li>
        </ul>
    </li>
</ul>
