@{
    ViewBag.Title = "Crear Noticia";
    ViewBag.SectionName = "News";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Noticias</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Noticia
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form id="formNoticia" name="news" method="post" enctype="multipart/form-data">
                    <div class="col-md-6 form-group">
                        <label for="Title">Título</label>
                        <input id="Title" name="Title" class="form-control" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="Date">Fecha</label>
                        <input type="date" id="Date" name="Date" class="form-control" />
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="Important">Copete</label>
                        <input id="Important" name="Important" class="form-control" />
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="Body">Cuerpo</label>
                        <textarea id="Body" name="Body" rows="4" class="form-control"></textarea>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="Image">Imágen</label>
                        <input type="file" id="Image" name="Image" class="form-control" />
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="checkbox">
                            <label for="Active"><input id="Active" name="Active" type="checkbox" value="true" checked="checked" />Activo?</label>
                        </div>
                    </div>
                    <button type="submit" id="btnSubmitNews" class="btn btn-primary" style="min-width:200px;width:20%;"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
                    <button type="reset" class="btn btn-default">Limpiar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="GroupsModal" tabindex="-1" role="dialog">
    <input type="hidden" id="IdNews" name="ID" class="form-control">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">¿Desea enviar la noticia a los usuarios registrados?</h3>
            </div>
            <div class="modal-body">
                <p>Puede enviar ahora la noticia a los usuarios de las regiones seleccionadas, o puede regresar y enviarla luego... Si desea enviarla ahora, seleccione las regiones y presione <b>Enviar</b>:</p>
                <ul id="groupList"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" id="EnviarNoticia" class="btn btn-success"><span class="glyphicon glyphicon-send"></span> Enviar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
<script>
    $(document).ready(function () {
        var url = ApiUrl + "UserGroup";

        $.ajax({
            type: "GET",
            url: url,
            success: function (response) {
                $.each(response.Data, function (key, value) {
                    $("#groupList").append('<label style="width: 100%;text-align: center;"><input name="UserGroup" class="form-control" type="checkbox" checked="checked" value="' + value.ID + '"> ' + value.Name + '</label><br><br>');
                });
            }
        });

        $("#btnSubmitNews").click(function (event) {
            //stop submit the form, we will post it manually.
            event.preventDefault();

            // Create an FormData object 
            var data = new FormData();

            // Get form
            data.append("file", $('#Image')[0].files[0]);

            data.append("Title", $("#Title").val());
            data.append("Date", $("#Date").val());
            data.append("Important", $("#Important").val());
            data.append("Body", $("#Body").val());
            data.append("Active", $("#Active").is(":checked"));

            // disabled the submit button
            $("#btnSubmit").prop("disabled", true);

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: ApiUrl + "News",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    debugger;
                    console.log("SUCCESS : ", data);
                    $("#IdNews").val(data);
                    $("#btnSubmit").prop("disabled", false);
                    $('#GroupsModal').modal('show');
                },
                error: function (e) {
                    $("#result").text(e.responseText);
                    console.log("ERROR : ", e);
                    $("#btnSubmit").prop("disabled", false);

                }
            });
        });

        $("#EnviarNoticia").click(function (e) {
            //stop submit the form, we will post it manually.
            event.preventDefault();

            // disabled the submit button
            $("#EnviarNoticia").prop("disabled", true);

            var regiones = [];
            $.each($("input[name='UserGroup']:checked"), function () {
                regiones.push($(this).val());
            });

            data = {
                Regions: regiones,
                NewsId: $("#IdNews").val()
            };

            $.ajax({
                type: "POST",
                url: ApiUrl + "NewsSent",
                data: data,
                timeout: 600000,
                success: function (data) {
                    console.log("SUCCESS : ", data);
                    $("#EnviarNoticia").prop("disabled", false);
                    $('#GroupsModal').modal('toggle');
                    $('.top-right').notify({
                        message: { html: '<i class="fa fa-check fa-fw"></i>  La noticia fue enviada con <b>éxito!</b>  ' },
                        fadeOut: { enabled: true }
                    }).show();
                },
                error: function (e) {
                    console.log("ERROR : ", e);
                    $("#btnSubmit").prop("disabled", false);
                }
            });
        });
    });
</script>
}


