@{
    ViewBag.Title = "Usuario Nuevo";
    ViewBag.SectionName = "News";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Noticias</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class='notifications top-right'></div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Editar Noticia
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form id="formNoticia" role="form">
                    <input type="hidden" id="IdNews" name="ID" class="form-control">
                    <div class="col-md-6 form-group">
                        <label>Título</label>
                        <input id="Title" name="Title" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Fecha</label>
                        <input type="date" id="Date" name="Date" class="form-control">
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Copete</label>
                        <input id="Important" name="Important" class="form-control">
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Cuerpo</label>
                        <textarea id="Body" name="Body" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="NewImage">Nueva Imágen</label>
                        <input type="file" name="NewImage" id="NewImage" class="form-control" value="" />
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="NewImage">Imágen</label>
                        <img id="Image" height="150" />
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="checkbox">
                            <label>
                                <input id="Active" name="Active" type="checkbox" value="true" checked="checked">Activo?
                            </label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" style="min-width:200px;width:20%;" data-toggle="modal" data-target="#GroupsModal"><span class="glyphicon glyphicon-send"></span> Enviar</button>
                    <button type="submit" class="btn btn-primary" style="min-width:200px;width:20%;"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
                    <input type="button" class="btn btn-danger" id="btnEliminarNoticia" value="Eliminar" onclick="return confirm('¿Desea eliminar esta noticia?')" />
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="GroupsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Seleccione regiones</h3>
            </div>
            <div class="modal-body">
                <p>Seleccione las regiones a las que les quiere enviar la noticia:</p>
                <div id="groupList"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="EnviarNoticia" class="btn btn-success"><span class="glyphicon glyphicon-send"></span> Enviar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        <script>
            $(document).ready(function () {
                var NewsId = window.location.href.split("/")[window.location.href.split("/").length - 1];

                var url = ApiUrl + "News/" + NewsId;

                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (response) {
                        $("#Title").val(response.data.Title);
                        $("#Important").val(response.data.Important);
                        $("#Date").val(response.data.Date);
                        $("#Body").val(response.data.Body);
                        $("#Image").attr("src", response.data.Image + "?" + Date.parse(new Date()));
                        $("#IdNews").val(response.data.ID);
                    }
                });

                var url = ApiUrl + "UserGroup";

                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (response) {
                        $.each(response.Data, function (key, value) {
                            $("#groupList").append('<div class="col-md-6" style="margin-top:20px;margin-bottom:5px;"><label style="width: 100%;text-align: center;"><input name="UserGroup" class="form-control" type="checkbox" checked="checked" value="' + value.ID + '"> ' + value.Name + '</label></div>');
                        });
                    }
                });

                $('#GroupsModal').on('shown.bs.modal', function () {
                    //Llenar la lista de grupos
                });

                $("#btnEliminarNoticia").click(function (e) {
                    var url = ApiUrl + "News/" + NewsId;
                    $.ajax({
                        type: "DELETE",
                        url: url,
                        success: function (response) {
                            window.location.replace("/News");
                        }
                    });
                });


            $("#formNoticia").submit(function (e) {
                //stop submit the form, we will post it manually.
                event.preventDefault();

                // Create an FormData object 
                var data = new FormData();

                // Get form
                data.append("file", $('#NewImage')[0].files[0]);

                data.append("Title", $("#Title").val());
                data.append("Date", $("#Date").val());
                data.append("Important", $("#Important").val());
                data.append("Body", $("#Body").val());
                data.append("Active", $("#Active").is(":checked"));
                data.append("ID", $("#IdNews").val());

                // disabled the submit button
                $("#btnSubmit").prop("disabled", true);

                $.ajax({
                    type: "PUT",
                    enctype: 'multipart/form-data',
                    url: ApiUrl + "News",
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function (data) {
                        console.log("SUCCESS : ", data);
                        $("#btnSubmit").prop("disabled", false);

                        $("#Image").attr("src", data.Image + "?" + Date.parse(new Date()));

                        $('.top-right').notify({
                            message: { html: '<i class="fa fa-check fa-fw"></i>  La noticia fue guardada con <b>éxito!</b>  ' },
                            fadeOut: { enabled: true }
                        }).show(); 
                    },
                    error: function (e) {

                        $("#result").text(e.responseText);
                        console.log("ERROR : ", e);
                        $("#btnSubmit").prop("disabled", false);

                    }
                });
            });

            
        });
            $("#EnviarNoticia").click(function (e) {
                //stop submit the form, we will post it manually.
                event.preventDefault();

                // disabled the submit button
                $("#EnviarNoticia").prop("disabled", true);

                var regiones = [];
                $.each($("input[name='UserGroup']:checked"), function () {
                    regiones.push($(this).val());
                });

                debugger;

                data = {
                    Regions: regiones,
                    NewsId: $("#IdNews").val()
                };

                $.ajax({
                    type: "POST",
                    url: ApiUrl + "NewsSent",
                    data: data,
                    timeout: 600000,
                    success: function (data) {
                        console.log("SUCCESS : ", data);
                        $("#EnviarNoticia").prop("disabled", false);
                        $('#GroupsModal').modal('toggle');
                        $('.top-right').notify({
                            message: { html: '<i class="fa fa-check fa-fw"></i>  La noticia fue enviada con <b>éxito!</b>  ' },
                            fadeOut: { enabled: true }
                        }).show();
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                        $("#btnSubmit").prop("disabled", false);
                    }
                });
            });
        </script>
    }

