@{
    ViewBag.Title = "Usuario Nuevo";
    ViewBag.SectionName = "News";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Usuarios</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Editar Noticia
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form id="formNoticia" role="form">
                    <input type="hidden" id="IdNews" name="ID" class="form-control">
                    <div class="form-group">
                        <label>Título</label>
                        <input id="Title" name="Title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Copete</label>
                        <input id="Important" name="Important" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Fecha</label>
                        <input type="date" id="Date" name="Date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Cuerpo</label>
                        <textarea id="Body" name="Body" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="NewImage">Nueva Imágen</label>
                        <input type="file" name="NewImage" id="NewImage" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="NewImage">Imágen</label>
                        <img id="Image" height="150" />
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input id="Active" name="Active" type="checkbox" value="true" checked="checked">Activo?
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="reset" class="btn btn-default">Limpiar</button>
                    <input type="button" class="btn btn-danger" id="btnEliminarNoticia" value="Eliminar" onclick="return confirm('¿Desea eliminar esta noticia?')" />
                </form>
            </div>
        </div>
    </div>
</div>

    @section Scripts {
        <script>
        $(document).ready(function () {
            var NewsId = window.location.href.split("/")[window.location.href.split("/").length-1];
            var url = ApiUrl + "News/" + NewsId;

            $.ajax({
            type: "GET",
            url: url,
            success: function (response) {
                $("#Title").val(response.data.Title);
                $("#Important").val(response.data.Important);
                $("#Date").val(response.data.Date);
                $("#Body").val(response.data.Body);
                $("#Image").attr("src", response.data.Image);
                $("#IdNews").val(response.data.IdNews);
            }
            });

            $("#btnEliminarNoticia").click(function (e) {
                $.ajax({
                    type: "DELETE",
                    url: url,
                    success: function (response) {
                        window.location.replace("/News");
                    }
                });

            });

            $("#formNoticia").submit(function (e) {
                var url = ApiUrl + "News/" + NewsId;
                $.ajax({
                    type: "PUT",
                    url: url,
                    data: $("#formNoticia").serialize(),
                    success: function (data) {
                        window.location.replace("/News");
                    }
                });

                e.preventDefault();

            });
        });

        </script>
    }

